h1 {
    color: blue;
}

.intro{
    font-size: 24px;
    color: green;
}

#first {
    font-weight: bold;
    color: red;
}

div > span {
    background-color: yellow;
}

a[href] {
    text-decoration: none;
    color: purple;
}

li.highlight {
    background-color: lightblue;
}